/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F3E5F5;
    margin: 0;
    padding: 0;
    color: #333;
}

.letter-container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E1BEE7;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #FF1493;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #01FFFF;
    margin-bottom: 20px;
}

footer {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
    color: #FF1493;
}

/* Estilo para el botón de música */
.play-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: #FF1493;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

.play-button:hover {
    background-color: #FF1493;
}

/* Ocultar el reproductor de audio */
audio {
    display: none;
}